* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* Cabeçalho */
header {
    background-color: #FF0000;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #FF4500;
}

/* Grid de produtos */
.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.product-image {
    height: 800px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url('../img/Zelda\ TOTK.jpg');
}

#img-2 {
    background-image: url('../img/Bayonetta\ 3.jpg');
}

#img-3 {
    background-image: url('../img/Super\ Smash\ Bros.\ Ultimate.jpg');
}

#img-4 {
    background-image: url('../img/Mario\ Odyssey.jpg');
}

#img-5 {
    background-image: url('../img/Xenoblade\ Chronicles\ -\ Definition\ Edition.jpg');
}

#img-6 {
    background-image: url('../img/Animal\ Crossing\ New\ Horizons.jpg');
}

h3 {
    margin-bottom: 10px;
    color: #3db36b;
    border-left: 5px solid #0f642f;
    padding-left: 7px;
    font-size: 24px;
}


.card p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3db36b;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover {
    background-color: #0d7c1c;
}

/* Footer */
footer {
    background-color: #0000FF;
    color: #fff;
    border-top: 2px solid #0000CD;
    text-align: center;
    padding: 80px;
}
